    <div class="invitation__container">
        <h4 class= "title" >Invitation</h4>
                <% current_user.invites.each do | invite |%>
                    <div class="event__card">
                        <h3 class ="event__title__invite"><%= invite.event.name %>&nbsp;</h3>
                        <div class="button__container">
                            <%= link_to 'View', event_path(invite.event_id), class: 'btn' %>
                            <%if !current_user.attended_event_ids.include?(invite.event_id) %>
                                <%= link_to 'Accept', create_attending_path(:attendee_id=>current_user.id, :attended_event_id=>invite.event_id),
                                    data: { turbo_method: "post" }, class: 'btn' %>
                            <% end %>
                                <%= link_to 'Decline', event_destroy_invite_path(:event_id=> invite.event_id, :invitee_id=> current_user.id),
                                            data: { turbo_method: "delete" }, class: 'btn' %><br />
                        </div>
                    </div>
            <% end %>
 </div>