
<div class="user__container">
<% if current_user.invites.exists? %>
        <%= render 'invites' %>
<% end %>
    <%= render 'created' %>
    <%= render 'attending' %>
    <%= render 'attended' %>
</div>
