
        <div class="sendInvites__container">
          <p class="title">Send Invites</p>
                  <% User.all.order('email Asc').each do | user |%>
                    <% unless user.id == current_user.id %>
                      <div class="box invites">
                        <div>
                          <p><strong>@<%= user.username %></strong> - <%= user.email %></p>
                        </div>
                          <%# see Attending scope :confirmed %>
                          <% if user.attendings.confirmed(@event.id).exists? %>
                            <div>
                              <p>Status: User attending</p>
                            </div>
                          <% elsif %>
                          <%# see Invite scope :received %>
                            <% user.invites.received(@event.id, user.id).exists? %>
                              <%= link_to 'Rescind', event_destroy_invite_path(:event_id=> @event.id, :invitee_id=> user.id),
                                  data: { turbo_method: "delete" }, class: 'button rescind' %>
                              <div>
                                <p>Status: Invite pending</p>
                              </div>
                          <% else %>
                              <%= link_to 'Invite', event_create_invite_path(:event_id => @event.id, :invitee_id=> user.id, :inviter_id=> current_user.id),
                                  data: { turbo_method: "post" }, class: 'button' %>
                          <% end %>
                      </div>
                    <% end %>
                  <% end %>
          </div>



