*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

$background-color: #FFFBEB;
$second-color:#495579;
$third-color:#263159;
$text-color:#251749;
$bg-success: #D4EDDA;
$color-success: #146527;

body::-webkit-scrollbar{
    display: none;
  }

.notice{
    padding: 1rem;
    background-color: $bg-success;
    color: $color-success;
    margin-bottom: 1rem;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 6.5rem;
    left: 0;
    right: 0;
    animation: fade 5s;
    opacity: 0;
    @keyframes fade {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }


  .alert{
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 6.5rem;
    left: 0;
    right: 0;
    animation: fade 5s;
    opacity: 0;
    @keyframes fade {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

.nav-container{
    width: 100%;
    height: 8vh;
    background-color: $second-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    transition: all 0.5s ease;
    z-index: 1000;
    &.active{
        background-color: $second-color;
    }
    .nav-brand{
        display: flex;
        align-items: center;
        width: 30rem;
        a{
            img{
                width: 7vw;
            }
        }
        h1{
            color: $background-color;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    .nav-dropdown{
        .button-container{
            .dropdown{
                a{
                    color:$text-color;
                    font-size: 1.2rem;
                    font-weight: 600;
                    border: none;
                    padding: 1rem 2rem;
                    background-color: $background-color;
                    border-radius: 5rem;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover{
                        background-color: $third-color;
                        color: $background-color;
                    }
                }

                .dropdown-menu{
                    background-color: $second-color;
                    width: 100%;
                    // TRANSITION WHEN IT CLICK
                    border-radius: 2rem;
                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .link{
                            color: $background-color;
                            font-size: 1.2rem;
                            font-weight: 600;
                            border: none;
                            padding: 1rem 2rem;
                            background-color: $second-color;
                            border-radius:0;
                            cursor: pointer;
                            transition: all 0.5s ease;
                            text-decoration: none;

                            &:hover{
                                 color: $background-color;
                                font-size: 1.2rem;
                                font-weight: 600;
                                border: none;
                                padding: 1rem 2rem;
                                border-radius: 0;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }


            .btn-wrapper{
                display: flex;
                align-items: center;
                justify-content: space-around;
                 .sign__in{
                    background-color: $background-color;
                    color: $text-color;
                    text-decoration: none;
                    padding: 1rem 2rem;
                    border-radius: 5rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover{
                        background-color: $third-color;
                        color: $background-color;
                    }

                 }

                 .sign__up{
                    color: $background-color;
                    text-decoration: none;
                    padding: 1rem 2rem;
                    font-size: 1.2rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover{
                        background-color: $third-color;
                        color: $background-color;
                        border-radius: 5rem;
                    }
                }
            }
        }
    }
}




// sign up and sign

.form__container{
    width: 100vw;
    height: auto;
    background-color: $background-color;

  .title{
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    color: $text-color;
    text-align: center;
    top: 20%;
    left: 47%;
  }

 .simple_form {
    width: 100%;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .error_explanation{
        h2{
            color: red;
        }
    }


    .form__inputs{
        .user_email{
            display: flex;
            flex-direction: column;
            label{
                color: $text-color;
                font-size: 1.2rem;
                margin-bottom: 1rem;
                font-weight: 600;
                margin-left: .8rem;

                    abbr{
                    display: none;
                }


            }
            input[type="email"]{
                width: 30rem;
                height: 3rem;
                border: none;
                padding: 1rem;
                border-bottom: 1px solid $text-color;
                outline: none;
                font-size: 1.2rem;
                font-weight: 600;
                color: $text-color;
                margin-bottom: 1rem;
                transition: all 0.5s ease;
                &:focus{
                    border-bottom: 1px solid $third-color;
                }
            }

        }

        .user_password{
            display: flex;
            flex-direction: column;
            label{
                color: $text-color;
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
                margin-left: .8rem;


                abbr{
                    display: none;
                }


            }
            input[type="password"]{
                width: 30rem;
                height: 3rem;
                padding: 1rem;
                border: none;
                border-bottom: 1px solid $text-color;
                outline: none;
                font-size: 1.2rem;
                font-weight: 600;
                color: $text-color;
                margin-bottom: 1rem;
                transition: all 0.5s ease;
                &:focus{
                    border-bottom: 1px solid $third-color;
                }
            }
            .hint{
                color: red;
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
                display: none;
            }
        }

        .user_password_confirmation{
            display: flex;
            flex-direction: column;
            label{
                color: $text-color;
                font-size: 1.2rem;
                margin-bottom: 1rem;
                font-weight: 600;
                margin-left: .8rem;

                abbr{
                    display: none;
                }


            }
            input[type="password"]{
                width: 30rem;
                height: 3rem;
                border: none;
                padding: 1rem;
                border-bottom: 1px solid $text-color;
                outline: none;
                font-size: 1.2rem;
                font-weight: 600;
                color: $text-color;
                margin-bottom: 1rem;
                transition: all 0.5s ease;
                &:focus{
                    border-bottom: 1px solid $third-color;
                }
            }
            .hint{
                color: red;
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }
        }
        .user_current_password{
            display: flex;
            flex-direction: column;
            label{
                color: $text-color;
                font-size: 1.2rem;
                margin-bottom: 1rem;
                font-weight: 600;
                margin-left: .8rem;

                abbr{
                    display: none;
                }


            }
            input[type="password"]{
                width: 30rem;
                height: 3rem;
                border: none;
                padding: 1rem;
                border-bottom: 1px solid $text-color;
                outline: none;
                font-size: 1.2rem;
                font-weight: 600;
                color: $text-color;
                margin-bottom: 1rem;
                transition: all 0.5s ease;
                &:focus{
                    border-bottom: 1px solid $third-color;
                }
            }
            .hint{
                color: red;
                font-size: .8rem;
                font-weight: 600;
                margin-bottom: 1rem;
                margin-left: 1rem;
            }
        }
        .user_remember_me{
            display: flex;
            align-items: center;
            justify-content: space-between;
            input[type="checkbox"]{
                outline: none;
                width: 2rem;
                height: auto;
                color: $text-color;
                margin-bottom: 1rem;
                transition: all 0.5s ease;
                &:focus{
                    border: 1px solid $third-color;
                }
            }
            label{
                color: $text-color;
                font-size: 1rem;
                font-weight: 600;
                margin-left: .8rem;
                abbr{
                    display: none;
                }
            }
        }
    }

    .form__actions{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .btn{
            background-color: $third-color;
            color: $background-color;
            text-decoration: none;
            padding: 1rem 2rem;
            border-radius: 5rem;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover{
                font-size: 1.3rem;
            }
        }
        p{
            color: $text-color;
            margin-top: 1rem;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 600;
            margin-left: 1rem;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover{
                color: $third-color;
                }
            }
        }
    }
}

.form__event{
    width: 100vw;
    height: auto;
    background-color: $background-color;

    .title{
        position: absolute;
        font-size: 2rem;
        font-weight: 600;
        color: $text-color;
        text-align: center;
        top: 12%;
        left: 45.3%;
      }
    .simple_form{
        width: 100%;
        height: 98vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

            .error_notification{
                color: red;
                margin-left: 1rem;
            }
            .error{
                color: red;
                margin-left: 1rem;

            }


       .form__inputs{
        display: flex;
        flex-direction: column;
        align-items: center;

            .field{
                width: 30rem;
                height: 3rem;
                display: flex;
                flex-direction: column;
                margin: 2rem;
                    label{
                    color: $text-color;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                    margin-left: .8rem;
                    abbr{
                        display: none;
                    }
                }
                    input[type="text"]{
                        width: 30rem;
                        height: 3rem;
                        border: none;
                        padding: 1rem;
                        border-bottom: 1px solid $text-color;
                        outline: none;
                        font-size: 1.2rem;
                        font-weight: 600;
                        color: $text-color;
                        transition: all 0.5s ease;
                        &:focus{
                            border-bottom: 1px solid $third-color;
                        }
                    }

                    input[type="checkbox"]{
                        outline: none;
                        width: 2rem;
                        height: auto;
                        color: $text-color;
                        transition: all 0.5s ease;
                        &:focus{
                            border: 1px solid $third-color;
                        }
                    }
            }

            .field-time{
                width: 40rem;
                display: flex;
                flex-direction: row;
                margin: 2rem;
                height: 100%;
                    label{
                    color: $text-color;
                    font-size: 1.2rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                    margin-left: 6rem;
                    margin-right: 1rem;

                    abbr{
                        display: none;
                    }
                }
                .datetime{
                    background-color: $background-color;
                    margin-right: .3rem;
                }


           }
            .field-desc{
                width: 30rem;
                height: 3rem;
                display: flex;
                flex-direction: column;
                margin: 2rem;
                height: 100%;
                    label{
                    color: $text-color;
                    font-size: 1.2rem;
                    margin-bottom: 1rem;
                    font-weight: 600;
                    margin-left: .8rem;
                    abbr{
                        display: none;
                    }

                }
                textarea{
                    width: 30rem;
                    height: 100%;
                    border: none;
                    padding: 1rem;
                    border-bottom: 1px solid $text-color;
                    outline: none;
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: $text-color;
                    transition: all 0.5s ease;
                    &:focus{
                        border-bottom: 1px solid $third-color;
                    }
                }
            }
        }
        .form__actions{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            input[type="submit"]{
                background-color: $third-color;
                color: $background-color;
                text-decoration: none;
                padding: 1rem 2rem;
                border-radius: 5rem;
                font-size: 1.2rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover{
                    font-size: 1.3rem;
                }
            }

            p{
                color: $text-color;
                margin-top: 1rem;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                transition: all 0.5s ease;
                &:hover{
                    color: $third-color;
                }
            }
        }
    }
}
.events__container{
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding: 10rem;

    .upcoming__events{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .title{
            color: $text-color;
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        .card__container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            .event__card{
                position: relative;
                width: 20rem;
                height: 22vh;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 1rem;
                margin: 1rem;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
                transition: all 0.5s ease;


                &:hover{
                    top: -10px;
                    transition: all 0.5s ease;
                }

                .event__title{
                    color: $text-color;
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .button{
                    width: 5rem;
                    height: 2rem;
                    background-color: $third-color;
                    color: $background-color;
                    text-decoration: none;
                    padding: 1rem 2rem;
                    border-radius: 5rem;
                    font-size: .7rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover{
                        font-size: 1rem;
                    }
                }

            }



        }


    }

    .past__events{

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .title{
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }

            .card__container{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: wrap;

                .event__card{
                    position: relative;
                    width: 15vw;
                    height: 20vh;
                    padding: 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 1rem;
                    margin:1rem;
                    transition: all 0.5s ease;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);

                    &:hover{

                        top: -10px;
                        transition: all 0.5s ease;
                    }

                    .event__title{
                        color: $text-color;
                        font-size: 1rem;
                        font-weight: 600;
                        margin-bottom: 1rem;

                        &:hover{
                            font-size: 1.2rem;

                        }
                    }

                    p{
                        color: $text-color;
                        font-size: 1rem;
                        font-weight: 600;
                        margin-bottom: 1rem;
                    }

                    .button{
                        width: 5rem;
                        height: 2rem;
                        background-color: $third-color;
                        color: $background-color;
                        text-decoration: none;
                        padding: 1rem 2rem;
                        border-radius: 5rem;
                        font-size: .7rem;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        &:hover{
                            font-size: 1rem;
                        }
                    }

                }
                &:hover{
                    font-size: 1rem;
                }


        }
    }
}


.show__container{
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .title{
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    .card__container{
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        .event__card{
            width: 40rem;
            height: 50vh;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 1rem;

            .event__title{
                color: $text-color;
                text-align: center;
                font-size: 3rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .event__host{
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .event__location{
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .event__date{
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .event__details{
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .event__private{
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .event__public{
                color: $text-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 4rem;
            }

            .button__container{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100%;
                margin-bottom: 2rem;

                .btn{
                    width: 10rem;
                    height: 3.5rem;
                    background-color: $third-color;
                    color: $background-color;
                    text-decoration: none;
                    padding: 1rem;
                    border-radius: 5rem;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover{
                        font-size: 1.2rem;
                    }
                }

            }

            .button{
                width: 7rem;
                    height: 3.5rem;
                    background-color: $third-color;
                    color: $background-color;
                    text-decoration: none;
                    padding: 1rem;
                    border-radius: 5rem;
                    font-size: 1rem;
                    font-weight: 600;
                    cursor: pointer;
                    text-align: center;
                    transition: all 0.5s ease;
                    &:hover{
                        font-size: 1rem;
                    }
            }


        }



    }

    .attendee__container{
        width: 50vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .wrapper{
            width: 50%;
            height: auto;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;

            h1{
                color: $third-color;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }
            .attendee__name{
                color: $second-color;
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }

        }
        .sendInvites__container{
            width: 50vw;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            .box{
                width: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
                border-radius: 1rem;
                margin: 1rem;
                padding: 1rem;

                p{
                    color: $text-color;
                    font-size: 1rem;
                    font-weight: 600;
                }
                .status{
                    color: $text-color;
                    font-size: 1rem;
                    font-weight: 600;
                    color: #146527;

                }
                // a is a button
                a{
                    width: 8rem;
                    height: 1rem;
                    background-color: $third-color;
                    color: $background-color;
                    text-decoration: none;
                    padding: 1rem;
                    border-radius: 5rem;
                    font-size: .6rem;
                    font-weight: 600;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover{
                        text-decoration: underline;
                        font-size: .7rem;
                        transition: all 0.5s ease;
                    }
                }
            }
        }

    }
}
.user__container{
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10rem;
    background-color: $background-color;


    .invitation__container{
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title{
            color: $text-color;
            font-size: 1.5rem;
            font-weight: 600;
            margin-right: 3rem;
        }
        .event__card{
            position: relative;
            background-color: $background-color;
            width: 20vw;
            height: 12vh;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 1rem;
            margin:1rem;
            transition: all 0.5s ease;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
            z-index: 1;

            &:hover{

                top: -10px;
                transition: all 0.5s ease;
            }
            .event__title__invite{
                color: $text-color;
                text-align: center;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }


            .button__container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;

                .btn{
                        width: 10rem;
                        text-decoration: none;
                        padding: 1rem;
                        border-radius: 5rem;
                        font-size: 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        color: $second-color;
                        &:hover{
                            font-size: 1rem;
                            text-decoration: underline;
                        }
                }

            }

        }


    }



    .title{
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 600;
        margin-left: 2rem;
    }

    .my__events{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .card__container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;

            .event__card{
                position: relative;
                width: 14vw;
                height: 30vh;
                padding: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 1rem;
                margin:1rem;
                transition: all 0.5s ease;
                box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);

                &:hover{

                    top: -10px;
                    transition: all 0.5s ease;
                }
               c
                .event__host{
                    color: $text-color;
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .event__location{
                    color: $text-color;
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .event__date{
                    color: $text-color;
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .event__details{
                    color: $text-color;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .event__private{
                    color: $text-color;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .event__public{
                    color: $text-color;
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin-bottom: 4rem;
                }

                .button__container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    .btn{
                        width: 6rem;
                        height: 3.5rem;
                        background-color: $third-color;
                        color: $background-color;
                        text-decoration: none;
                        padding: 1rem;
                        border-radius: 5rem;
                        font-size: 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        &:hover{
                            font-size: 1rem;
                            width: 7.3rem;
                            height: 3.6rem;

                        }
                    }

                }

                .button{
                    width: 10rem;
                        text-decoration: none;
                        padding: 1rem;
                        border-radius: 5rem;
                        font-size: 1rem;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        color: $second-color;
                        &:hover{
                            font-size: 1rem;
                            text-decoration: underline;
                        }
                }
            }
        }

    }

}


